@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General */

body {
    font-family: 'Poppins', sans-serif;
    color: #f2f2f2;
    background: #020308;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin-bottom: 15px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #f2f2f2;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

h4 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

a {
    color: #d6d4d4;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

img {
    object-fit: cover;
}

/* Loader */

#ftco-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000;
}

#ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #060913;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#ftco-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#ftco-loader .lds-ripple {
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 60px);
    display: block;
}

#ftco-loader .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

#ftco-loader .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#ftco-loader .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.title {
    color: #e6e6e6;
}

.btn-primary {
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: linear-gradient(90deg, #8c00ff, #0067ee);
    cursor: pointer;
    background-image: -moz-linear-gradient(45deg, #8c00ff 0%, #0067ee 100%);
    background-image: -webkit-linear-gradient(45deg, #8c00ff 0%, #0067ee 100%);
    background-image: -ms-linear-gradient(45deg, #8c00ff 0%, #0067ee 100%)
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.hover {
    color: #fff;
    outline: none;
    background: #05091a;
    border: 1px solid #991dff;
}

.btn-primary span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.btn-primary:hover span {
    color: #fff;
    right: 20px;
}

/* Header */

/* Header */

header::before{
    content: '';
    display: block;
    margin-bottom: 120px;
}

nav{
    height: 60px;
    width: 100%;
    background: #0a0e1f;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    align-items: center;
    padding: 0px 40px;
    font-weight: 700;
}

.nav .logo img{    
    height: 55px;
    width: 60px;
}

.nav .logo span{
    font-size: 18px;
    color: #fff;    
    line-height: 60px;
}

.nav .enlaces-header a{    
    margin: 10px;
    color: #c8c8ca;
    transition: color 0.1s ease-in-out;
}

.nav .enlaces-header a:last-child{
    margin-right: 0;
}

.nav .enlaces-header a:hover{       
    color: #fff;
}

.hamburger{
    width: 60px;
    height: 60px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    color: #c8c8ca;
    transition: color 0.3s ease-in;
}

.hamburger:hover,
.hamburger:active,
.hamburger:focus{
    color: #fff;
}

.hamburger>i{
    font-size: 25px;
    line-height: 60px;
}

/* Image Link */

.item-image {
    outline: none;
    border: none;
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.item-image:hover {
    outline: none;
    border: none;
}

.item-image::before {
    outline: none;
    border: none;
    display: block;
    content: '';
    width: 100%;
    padding-top: 66.6667%;
    background: none !important;
    box-shadow: none !important;
}

/* Publicaciones */

.image-link {
    overflow: hidden;
    display: inline-block;
    position: relative;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    width: 100%;
    margin-bottom: 18px;
    margin: 0;
    padding: 0;
    outline: none;
}

.image-link .item-image {
    outline: none;
    border: none;
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.image-link .item-image:hover {
    outline: none;
    border: none;
}

.image-link .item-image::before {
    outline: none;
    border: none;
    display: block;
    content: '';
    width: 100%;
    padding-top: 66.6667%;
    background: none !important;
    box-shadow: none !important;
}

/* Home */

.page-title {
    margin-top: 50px;
    margin-bottom: 60px;
}

.page-title h2,
.page-title h1 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.page-title p {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;  
    max-width: 400px;  
}

.home {    
    padding-bottom: 50px;
    position: relative;
}

.home .active-cat-carusel:hover .owl-controls {
    opacity: 1;
}

.home .item {
    padding: 0 1px;
    max-height: 390px;
    color: #fff;
    background-position: center center;
}

.home .item h3>a {
    color: rgba(255, 255, 255, .9);
}

.home .item h3>a:hover {
    color: #fff;
}

.home .item-image {
    position: relative;
    width: 100%;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    opacity: 1;
}

.home .item:hover .item-image {
    opacity: 0.7;
}

.home .item-image::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 100%;
    background: none !important;
    box-shadow: none !important;
}

.home .fa {
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding-top: 8px;
    background: rgba(255, 255, 255, 0.4);
}

.home .owl-controls {
    content: '';
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.home .owl-controls .owl-prev {
    content: '';
    position: absolute;
    left: 10px;
    transform: rotate(-90deg);
}

.home .owl-controls .owl-next {
    transform: rotate(-90deg);
    content: '';
    position: absolute;
    right: 10px;
}

.home .item-content {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.home .item-meta span:nth-child(2) {
    padding: 0 7px;
}

.home .item-meta span:nth-child(3) a {
    color: hsl(240, 53%, 88%);
    font-weight: bold;
}

.home .item-meta span:nth-child(3) a:hover {
    color: #fff;
}

/* Recents */

.content-page .widget {
    border: 1px solid #0e132a;
}

.content-page .principal {
    background: #060913;
    padding: 21px;
    margin-bottom: 50px;
}

.content-page .title-sec {
    background: #0e132a;
    border: none;
    height: 38px;
    line-height: 38px;
}

.content-page .title-sec h4 {
    font-size: 15px;
    padding: 8px;
    display: inline-block;
    height: 38px;
    position: relative;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}

.content-page .title-sec .tab-view {
    float: right;
}

.content-page .title-sec .tab-view li {
    display: inline-block;
    border-right: 0;
    font-size: 15px;
    line-height: 39px;
}

.content-page .title-sec li a {
    padding: 8px;
    margin-right: 1px;
    font-weight: 500;
}

.content-page .title-sec li span {
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff
}

.content-page .title-sec li a:hover,
.content-page .title-sec li.active a {
    background: #060913;
    color: #fff;
}

.recents {
    border: 1px solid #0e132a;
}

.content-page .sect-view{
    width: 100%;
}

.recents.grid .section-items {
    widtH: 100%;
    padding: 20px;
}

.recents.list .item {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid #0e132a;
}

.recents.list .item:first-child {
    border-top: none;
}

.recents.list .item .image-link {
    max-width: 40%;
}

.recents.grid .item {
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    border: none;
}

.recents.grid .image-link {
    min-width: 40%;
}

.recents .image-link {
    position: relative;
}

.recents .image-link .tag {
    position: absolute;
    color: #fff;
    padding: 10px;
    background: #da0c76;
    box-shadow: 0 0 25px #94154E,
        0 0 50px #94154E;
    bottom: 0;
    left: 0;
    font-weight: 600;
}

.recents .image {
    max-width: 100%;
}

.recents .image .item-image:hover {
    opacity: 0.9;
}

.recents .item-text {
    margin-left: 20px;
    padding: 0;
    align-self: center;
}

.recents.grid .item-text {
    margin: 0;
}

.recents.grid .item-text h2 {
    margin-top: 10px;
}

.recents .item-text .title {
    color: rgba(255, 255, 255, 0.932);
    text-shadow: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.recents .item-text .title:hover {
    color: #fff;
}

.recents .item-text .meta .sep {
    padding: 0 5px;
}

.recents .item-text .meta,
.recents .item-text .meta a {
    font-size: 12px;
    font-weight: 600;
    color: rgb(161, 161, 161);
}

.recents .item-text .meta a:hover {
    color: hsl(0, 0%, 77%);
}

.recents.list .time-list {
    display: inline-block;
}

.recents.list .time-grid {
    display: none;
}

.recents.grid .time-grid {
    display: inline-block;
}

.recents.grid .time-list {
    display: none;
}

.recents .item-text .content {
    margin-top: 10px;
}

.recents .item-text p {
    font-size: 14px;
    color: hsl(0, 0%, 80%);
    text-align: left;
}

.recents.grid .see-more {
    display: none;
}

.recents.list .see-more {
    display: inline-block;
}

.recents .see-more a {
    font-weight: 500;
}

[alt="www.000webhost.com"]{
    display: none;
}

@media (max-width: 991px) {
    .recents .item {
        flex-wrap: wrap;
    }

    .recents .image-link {
        max-width: 100%;
    }

    .recents .item-text {
        margin-top: 20px;
        margin-left: 10px;
    }
}

@media (max-width: 767px) {
    .content-page .title-sec .tab-view .list.switch {
        display: none;
    }

    .recents.grid .item {
        width: 100%;
    }
}

/* Gadgets */

.section-pad {
    padding-top: 50px;
}

.section-pad.no-pad{
    padding-top: 0;
}

.gadgets {
    border: 1px solid #0e132a;
}

.section-pad .section-items {
    padding: 20px;
}

.section-pad .item {
    margin-bottom: 20px;
}

.section-pad .item-text {
    padding: 0 5px;
}

.section-pad .item h2 {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
}

.section-pad .item p {
    text-align: left;
}

.section-pad .item .meta,
.section-pad .item .meta a {
    color: rgb(179, 178, 178);
    font-size: 13px;
    font-weight: 600;
}

.section-pad .item i {
    padding-right: 7px;
}

.section-pad .item span {
    padding-right: 15px;
}

.section-pad .read-more{
    width: 100%;
    background: #0e132a;
    height: 38px;
    line-height: 38px;
}

.section-pad .read-more:hover{
    background: hsl(229, 50%, 15%);
}

.section-pad .read-more a{    
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    display: block;
}

.gadgets .top.item {
    max-width: 48%;
}

.gadgets .divisor {
    margin-bottom: 20px;
    width: 100%;
    height: 1px;
    background: #0e132a;
}

.section-pad .bottom-content {
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #0e132a;
}

.section-pad .bottom.item {
    display: flex;
    flex-wrap: nowrap;
}

.section-pad .bottom.item .image-link {
    width: 30%;
}

.section-pad .bottom.item .item-text {
    align-self: center;
    padding-left: 10px;
}

.section-pad .bottom.item .item-text h2 {
    padding: 0 0 10px 0;
    font-size: 14px;
}

.section-pad .bottom.item .meta,
.section-pad .bottom.item .meta a {
    font-size: 12px;
}

.section-pad .bottom.item .meta i {
    padding: 0 2px;
}

.section-pad .bottom.item .meta span {
    padding-right: 5px;
}

/* Entretenimiento */

.entretenimiento .section-items {
    border: 1px solid #0e132a;
}

/* Redes Sociales */

.social-networks .section-items {
    border: 1px solid #0e132a;
}

.social-networks .right-items {
    align-self: center;
}

.social-networks .right.item {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #0e132a;
    display: flex;
    flex-wrap: nowrap;
}

.social-networks .right.item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.social-networks .right.item .image-link {
    width: 33%;
}

.social-networks .left.item .item-image::before {
    padding-top: 60%;
}

.social-networks .right.item .item-text {
    align-self: center;
    padding-left: 10px;
}

.social-networks .right.item .item-text h2 {
    padding: 0 0 10px 0;
    font-size: 14px;
}

.social-networks .right.item .meta,
.social-networks .right.item .meta a {
    font-size: 12px;
}

.social-networks .right.item .meta i {
    padding: 0 2px;
}

.social-networks .right.item .meta span {
    padding-right: 5px;
}

/* Tecnology */

.tecnology .section-items {
    border: 1px solid #0e132a;
}

/* Videojuegos */

.videojuegos .section-items {
    border: 1px solid #0e132a;    
}

.videojuegos .read-more{
    margin-bottom: 20px;
}

/* Extras */

.contact-area input[type="text"],
.contact-area input[type="tel"],
.contact-area input[type="email"],
.contact-area textarea,
.contact-area button {
    border-radius: 0;
    background: #060913 !important;
    border: 1px solid #454b55;
}

.subs-widget input,
.subs-widget .primary-btn {
    background: #060913 !important;
    border: 1px solid #454b55;
}

.subs-widget input:hover {
    border: 1px solid #676c77;
}

/* Sidebar */

.popular-widget .bottom.item {
    border-bottom: 1px solid #0e132a !important;
}

/* Footer */

footer {
    background: #0a0e1f;
}

footer div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 991px){
    footer .container{
        padding: 0;
    }
}

.footer-content {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 17px;
}

.footer-logo h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 0.75;
    letter-spacing: 1px;
}

.footer-social {
    margin-top: 34px;
}

.footer-social ul li:not(:last-child) {
    margin-right: 21px;
}

.footer-social ul li {
    display: inline-block;
    font-size: 15px;
}

.copyright {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff50;
    margin-top: 40px;
}

.copyright-bottom {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff50;
    margin-top: 40px;
    margin-bottom: 10px;
}

.subscribe {
    position: relative;
    width: 100%;
    height: 100%;
}

.subscribe #mc_embed_signup {
    background: #050710;
}

.subscribe-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #050710;
}

.subscribe-content {
    width: 100%;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 80px;
}

.subscribe-title {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.subscribe-content form {
    margin-left: 10px;
    position: relative;
    width: 100%;
}

.sub-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #494d55;
    padding-left: 5px;
    padding-right: 25px;
    padding-bottom: 9px;
    color: #cfcfcf;
}

.sub-button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    background: transparent;
    border: none;
    outline: none;
}

.sub-button svg polygon {
    fill: #ffffff80;
}

.subscribe-content form:hover .sub-button svg polygon,
.subscribe-content form:focus .sub-button svg polygon,
.subscribe-content form:active .sub-button svg polygon {
    fill: #fff;
}

.subscribe .info {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

@media (max-width: 991px) {
    .footer-social {
        margin-bottom: 10px;
    }

    .subscribe-background {
        width: 100%;
    }

    .copyright {
        display: none;
    }

    .copyright-bottom {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: #ffffff50;
        margin-top: 40px;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .contact .contact-address,
    .contact .contact-phone {
        border-right: none;
    }

    .subscribe .btn-primary {
        margin-top: 10px;
    }
}

@media (max-width: 414px) {

    .contact-container .nombre,
    .contact-container .correo {
        width: 100%;
    }
}